* {
    font-family: 'Inter', sans-serif;
}

:root {
    --vermelho-primario: #FF2B34
    --vermelho-secundario: #FFF1F2
    --sucesso-primario: #039855
    --sucesso-100: #D1FADF
    --sucesso-50: #ECFDF3
    --gray-600: #535862
    --gray-900: #181D27
    --gray-50: #FAFAFA
}